<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous">
		
	<title>Listado Facturas</title>
</head>
<body>

<!-- As a heading -->
	<div class="container">
		<h3>Lista Facturas</h3>
		<!-- <hr>

		<div class="badge badge-success text-wrap" style="width: 6rem;">
			Username:</div>

		<div class="badge badge-success text-wrap" style="width: 18rem;"
			th:text="${username}"></div>

		<br>

		<div class="badge badge-success text-wrap" style="width: 6rem;">
			Roles:</div>

		<div class="badge badge-success text-wrap" style="width: 18rem;"
			th:text="${roles}"></div>

		<br> <br>
		
		 -->

		<!-- Add button -->
		<a th:href="@{/employees/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3"> Add Employee</a>
	
		<!-- Tables -->

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>num_factura</th>
					<th>id_cliente</th>
					<th>fecha</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempFactura : ${facturas}">
					<td th:text="${tempFactura.num_factura}" />
					<td th:text="${tempFactura.id_cliente}" />
					<td th:text="${tempFactura.fecha}" />
					
					<!-- 
					<td><a
						th:href="@{/employees/shorFormForUpdate(employeeId=${tempEmployee.id})}"
						class="btn btn-info btn-sm"> Update</a> <a
						th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
							Delete</a></td>
							
							 -->
				</tr>

			</tbody>

		</table>
		
		<!-- User Register Button -->
		<form action="#" th:action="@{/showRegisterForm}" method=POST>

			<input type="submit" class="btn btn-outline-primary" value="Register New User" />

		</form>
		
		<!-- Retorno al Indice -->
		<br>
		<a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Menu Principal</a>
		
		<!-- Logout Button 
		<form action="#" th:action="@{/logout}" method=POST>

			<input type="submit" class="btn btn-outline-primary mt-3" value="Logout" />

		</form>-->

	</div>

</body>
</html>